@media screen and (width<= 1200px) {
  .admin-container {
    overflow: auto;
  }

  .dashboard {
    .widget-container,
    .graph-container,
    .transaction-container {
      justify-content: center;
      flex-wrap: wrap;
    }
    .graph-container {
      padding: 2rem;
    }
    .transaction-container {
      padding: 2rem;
      height: unset;
    }
  }

  .product-management {
    padding: 2rem;
  }
}

@media screen and (width<= 1100px) {
  .admin-container {
    grid-template-columns: 1fr !important;
  }
  .seat-arrangement-page {
    main{
      flex-direction: column;
    }
  }
}


@media screen and (width<= 768px) {
  .cart {
    display: block;
    padding: 2rem;

    > main {
      width: 100%;
    }
    > aside {
      width: 100%;
    }
  }

  .cartitem {
    width: 100%;
    > img {
      width: 3rem;
      height: 3rem;
    }
    > div {
      flex-direction: column;
      gap: 0;
    }
  }

  .product-search-page {
    display: block;
    padding: 0;

    > aside {
      @include flex(row, space-between, center);
      flex-wrap: wrap;
      box-shadow: none;
      > h2 {
        @include heading;
        font-size: 1.2rem;
      }
    }
    > main > input {
      width: 100%;
      border: 1px solid rgba(212, 212, 212, 0.379);
    }
  }
}

@media screen and (width<= 600px) {
  .product-management {
    flex-direction: column;
    align-items: center;
    padding: 0;
    > section {
      max-width: 400px;
    }
  }
  .admin-container{
    >aside{
      width: 100% !important;
      >div{

      }
    }
    .seat-page{
      background-color: white;
      padding: 2rem;
      overflow: auto;
      height: 100%;
      width: 100%;
    }
  }

  .chart-container {
    padding: 0;
    > h1 {
      margin: 0;
      text-align: center;
    }
    > section {
      margin: 8rem auto;
    }
  }

  .dashboard-app-container > section {
    .coupon-form,
    .stopwatch {
      display: flex;
      flex-direction: column;
    }
    .stopwatch {
      align-items: center;
    }
  }
   .seat-arrangement-page {
    .refresh{
      .refresh-btn {
        button {
          width: 80px !important;
          span{
            padding: 5px !important;
            font-size: 10px;
            &::after{
              padding: 5px !important;
            }
          }
        }
      }
    }
    main{
      flex-direction: column;
      .seat-page{
        border-bottom:1px solid  rgb(0 0 0 / 36%);
        margin-bottom: 2rem;
      }
    }
  }
  .table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 8px;
      vertical-align: middle;
    }

    th {
      font-weight: bold;
      color: #0000009e;
      font-size: 0.5rem;
      font-weight: 400;
      padding: 2rem 1rem;
    }

    thead {

      th {
        font-size: 0.5rem !important;
        padding: 0.2rem 0.5rem !important;
      }
    }

    tbody {
      td {
        // padding: 0rem;
        font-size: 0.5rem;
        padding: 0rem 0.5rem;
        img {
          width: 1rem !important;
          height: 2rem;
        }

        a {
          padding: 0.25rem 0.5rem !important;
          border-radius: 5px !important;
        }

        button {
          width: 2rem;
          height: 2rem;
          font-size: 0.5rem;

          &:hover {
            opacity: 0.6;
          }
        }

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }
      tr > td:nth-child(3) { /* Select the third td element in each row */
        width: 100px !important;
        max-width: 100px !important;
        overflow: scroll;
        border-right: 1px solid rgba(0, 0, 0, 0.093);; 
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.093);
      }
    }
  }
  .create-product-btn {
    position: fixed;
    right: 2rem;
    top: 5rem;
    @include square(2rem);
    @include flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgb(201, 9, 9);
    color: rgb(248, 248, 248);
    &:hover {
      opacity: 0.8;
    }
  }
}
